<p id="notice"><%= notice %></p>

<b>Survey id:</b>
  <%= @question.survey_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Response type:</b>
  <%= @question.option %>
</p>

<p><%= link_to 'add questions', new_survey_question_path(@question) %> </p><br /> |
<%= link_to 'Add', new_survey_question_path(@question) %> |
<%= link_to 'Back', edit_survey_path(@question) %> 
