<p id="notice"><%= notice %></p>

<p>
  <b>Survey id:</b>
  <%= @question.survey_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Response type:</b>
  <%= @question.option %>
</p>


<%= link_to 'Edit', edit_survey_question_path(@question) %> |
<%= link_to 'Add', new_survey_question_path(@question) %> |
<%= link_to 'Back', question_path(@question) %> 
