<p id="notice"><%= notice %></p>

<p>
  <b>Label 1:</b>
  <%= @tag.label_1 %>
</p>

<p>
  <b>Label 2:</b>
  <%= @tag.label_2 %>
</p>

<p>
  <b>Label 3:</b>
  <%= @tag.label_3 %>
</p>

<p>
  <b>Label 4:</b>
  <%= @tag.label_4 %>
</p>

<p>
  <b>Label 5:</b>
  <%= @tag.label_5 %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
