<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<<<<<<< HEAD
    </div>       
  <% end %>  
=======
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_id %><br />
    <%= f.text_field :survey_id %>
  </div>
>>>>>>> 2b330685dfc098fc7af63fc3bc824d362e52e495
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </div>
  <div class="field">
    <%= f.label :instructor_id %><br />
    <%= f.text_field :instructor_id %>
<<<<<<< HEAD
  </div>  <br />  
=======
  </div>
  <div class="field">
    <%= f.label :question_1 %><br />
    <%= f.text_field :question_1 %>
  </div>
  <div class="field">
    <%= f.label :response %><br />
    <%= f.text_field :response %>
  </div>
>>>>>>> 2b330685dfc098fc7af63fc3bc824d362e52e495
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
