<p id="notice"><%= notice %></p>

<p>
  <b>Survey:</b>
  <%= @survey.survey_id %>
</p>

<p>
  <b>Course:</b>
  <%= @survey.course_id %>
</p>

<p>
  <b>Section:</b>
  <%= @survey.section_id %>
</p>

<p>
  <b>Instructor:</b>
  <%= @survey.instructor_id %>
</p>

<%= link_to 'questions', question_path(@survey)%> |

<%= link_to 'Edit', edit_survey_path(@survey) %> |
 
<%= link_to "add questions", new_survey_question_path(@survey)%> |

<%= link_to 'Back', surveys_path(@survey) %>

