<p id="notice"><%= notice %></p>
<p>   
  <b>Survey id:</b>
  <%= @survey.id %>      
</p>
<p>
  <b>Course:</b>
  <%= @survey.course_id %>
</p>
<p>
  <b>Section:</b>
  <%= @survey.section_id %>
</p>
<p>
  <b>Instructor:</b>
  <%= @survey.instructor_id %>
</p>
<p><%= link_to 'add questions', new_survey_path(@survey) %> </p><br />
<%= link_to 'Edit', edit_survey_path(@survey) %> | 

<%= link_to 'Done', surveys_path %>



